:root {
  --fontSizeBase: 18px;
  --fontSizeCaptionText: 14.4px;
  --fontSizeH1: 54.9px;
  --fontSizeH2: 43.9px;
  --fontSizeH3: 35.2px;
  --fontSizeH4: 28.1px;
  --fontSizeH5: 22.5px;
  --colorBasicBlack: #172121;
  --colorRareBlue: #258ea6;
  --colorWhite: #eff2f1;
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--colorRareBlue);
}
p {
  margin-bottom: 1rem;
  color: var(--colorWhite);
}
